<body>
  <header>
    <div class="header-content">
      <h1>UFO Battle</h1>
      <p>
        Welcome to the ultimate UFO battle experience. Get ready to explore the
        galaxy!
      </p>
    </div>
  </header>

  <section id="about" class="section">
    <h2>About the Game</h2>
    <p id="presentationText">
      Test your aim and reflexes in a race against time as you launch a missile
      to hit elusive UFOs,
      <br />
      earning points with every strike—just be careful not to miss, or you'll
      lose precious points!
    </p>
  </section>

  <section id="play" class="section">
    <h2>Play Now</h2>
    <p id="presentationText">
      Click the button below to start playing the UFO Battle.
      <br />
      But first, you have a few decisions to make.
    </p>
    <button (click)="goToPreferences()" class="cta-btn">
      <a class="linkFormat">Start Game</a>
    </button>
  </section>

  <footer>
    <p>&copy; 2024 UFO Battle. All rights reserved.</p>
  </footer>
</body>
